In \[1\]:

    import pandas as pd
    from warnings import filterwarnings

In \[2\]:

    filterwarnings("ignore")

In \[3\]:

    train_set=pd.read_csv("C:/Users/admin/Downloads/training_set-1.csv") #loading training set

In \[4\]:

    test_set=pd.read_csv("C:/Users/admin/Downloads/testing_set-1.csv") #loading testing set

In \[5\]:

    train_set.head()

Out\[5\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | LP001002 | Male   | No      | 0          | Graduate     | No            | 5849.0          | 0.0               | NaN        | 360.0            | 1.0            | Urban         | Y           |
| 1   | LP001003 | Male   | Yes     | 1          | Graduate     | No            | NaN             | 1508.0            | 128.0      | 360.0            | 1.0            | Rural         | N           |
| 2   | LP001005 | Male   | Yes     | 0          | Graduate     | Yes           | 3000.0          | 0.0               | 66.0       | 360.0            | 1.0            | Urban         | Y           |
| 3   | LP001006 | Male   | Yes     | 0          | Not Graduate | No            | 2583.0          | 2358.0            | 120.0      | 360.0            | 1.0            | Urban         | Y           |
| 4   | LP001008 | Male   | No      | 0          | Graduate     | No            | 6000.0          | 0.0               | 141.0      | 360.0            | 1.0            | Urban         | Y           |

In \[6\]:

    test_set.head()

Out\[6\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|
| 0   | LP001015 | Male   | Yes     | 0          | Graduate     | No            | 5720            | 0                 | 110.0      | 360.0            | 1.0            | Urban         |
| 1   | LP001022 | Male   | Yes     | 1          | Graduate     | No            | 3076            | 1500              | 126.0      | 360.0            | 1.0            | Urban         |
| 2   | LP001031 | Male   | Yes     | 2          | Graduate     | No            | 5000            | 1800              | 208.0      | 360.0            | 1.0            | Urban         |
| 3   | LP001035 | Male   | Yes     | 2          | Graduate     | No            | 2340            | 2546              | 100.0      | 360.0            | NaN            | Urban         |
| 4   | LP001051 | Male   | No      | 0          | Not Graduate | No            | 3276            | 0                 | 78.0       | 360.0            | 1.0            | Urban         |

In \[7\]:

    train_set.isna().sum()  #checking missing values in train set

Out\[7\]:

    Loan_ID               0
    Gender               15
    Married               3
    Dependents           15
    Education             1
    Self_Employed        32
    ApplicantIncome       2
    CoapplicantIncome     1
    LoanAmount           22
    Loan_Amount_Term     14
    Credit_History       50
    Property_Area         0
    Loan_Status           0
    dtype: int64

In \[8\]:

    test_set.isna().sum()  #checking missing values in testing set

Out\[8\]:

    Loan_ID               0
    Gender               11
    Married               0
    Dependents           10
    Education             0
    Self_Employed        23
    ApplicantIncome       0
    CoapplicantIncome     0
    LoanAmount            5
    Loan_Amount_Term      6
    Credit_History       29
    Property_Area         0
    dtype: int64

In \[9\]:

    from MLTools import replacer
    replacer(train_set)               #filling the missing values in training set

In \[10\]:

    from MLTools import replacer
    replacer(test_set)                #filling the missing values in testing set

In \[11\]:

    train_set.isna().sum()            #we have no missing values now

Out\[11\]:

    Loan_ID              0
    Gender               0
    Married              0
    Dependents           0
    Education            0
    Self_Employed        0
    ApplicantIncome      0
    CoapplicantIncome    0
    LoanAmount           0
    Loan_Amount_Term     0
    Credit_History       0
    Property_Area        0
    Loan_Status          0
    dtype: int64

In \[12\]:

    test_set.isna().sum()

Out\[12\]:

    Loan_ID              0
    Gender               0
    Married              0
    Dependents           0
    Education            0
    Self_Employed        0
    ApplicantIncome      0
    CoapplicantIncome    0
    LoanAmount           0
    Loan_Amount_Term     0
    Credit_History       0
    Property_Area        0
    dtype: int64

In \[13\]:

    train_set.head()

Out\[13\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | LP001002 | Male   | No      | 0          | Graduate     | No            | 5849.00000      | 0.0               | 146.412162 | 360.0            | 1.0            | Urban         | Y           |
| 1   | LP001003 | Male   | Yes     | 1          | Graduate     | No            | 5405.54085      | 1508.0            | 128.000000 | 360.0            | 1.0            | Rural         | N           |
| 2   | LP001005 | Male   | Yes     | 0          | Graduate     | Yes           | 3000.00000      | 0.0               | 66.000000  | 360.0            | 1.0            | Urban         | Y           |
| 3   | LP001006 | Male   | Yes     | 0          | Not Graduate | No            | 2583.00000      | 2358.0            | 120.000000 | 360.0            | 1.0            | Urban         | Y           |
| 4   | LP001008 | Male   | No      | 0          | Graduate     | No            | 6000.00000      | 0.0               | 141.000000 | 360.0            | 1.0            | Urban         | Y           |

In \[14\]:

    df=train_set.drop(labels=["Loan_ID","Loan_Status"],axis=1) #dropping Loan_ID and Loan_Status columns

In \[15\]:

    #Using Preprocessing Function Standardising The Data and Also using OneHot Encoding for Categorical Features

    from MLTools import preprocessing
    Xnew=preprocessing(df)

In \[16\]:

    #Defining X & Y

    X=Xnew
    Y=train_set['Loan_Status']

In \[17\]:

    #Using Train Test Split To Divide the Data into Training And Testing/Validation 

    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In \[18\]:

    #Building The Model : KNN Classification

    from sklearn.neighbors import KNeighborsClassifier
    knc=KNeighborsClassifier(n_neighbors=5)
    model=knc.fit(xtrain,ytrain)
    ts_pred= model.predict(xtest)                                        
    tr_pred= model.predict(xtrain)
    from sklearn.metrics import accuracy_score,confusion_matrix
    ts_acc=accuracy_score(ytest,ts_pred)                                  #testing accuracy
    tr_acc=accuracy_score(ytrain,tr_pred)                                 #training acuuracy

In \[19\]:

    #Because our Metric is Recall Score I am Using Classification_Report to get the enitre summary

    from sklearn.metrics import classification_report
    print(classification_report(ytest,ts_pred))

                  precision    recall  f1-score   support

               N       0.73      0.50      0.59        38
               Y       0.80      0.92      0.86        85

        accuracy                           0.79       123
       macro avg       0.77      0.71      0.73       123
    weighted avg       0.78      0.79      0.78       123

In \[20\]:

    # as we see here : the recall value is 0.92

In \[21\]:

    confusion_matrix(ytest,ts_pred)

Out\[21\]:

    array([[19, 19],
           [ 7, 78]], dtype=int64)

In \[22\]:

    #in the confusion matrix we see TP are 78 while FN are 7 so recall is pretty high 78/78+7 = 0.92

In \[23\]:

    from sklearn.metrics import recall_score
    recall_score(ytest,ts_pred,pos_label='Y')

Out\[23\]:

    0.9176470588235294

In \[24\]:

    #Tuning The n_neighbors value and for cross validation GridSearchCV

    k=range(2,10)
    tuning_grid={"n_neighbors":k}
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(knc,tuning_grid,scoring="recall",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[24\]:

    {'n_neighbors': 2}

In \[25\]:

    #Second Model is DecisionTree Classifiction

    from sklearn.tree import DecisionTreeClassifier
    dtc= DecisionTreeClassifier(random_state=21,criterion="entropy")      #trying out using entropy
    model=dtc.fit(xtrain,ytrain)
    tr_pred= model.predict(xtrain)
    ts_pred= model.predict(xtest)
    tr_acc=accuracy_score(ytrain,tr_pred)
    ts_acc=accuracy_score(ytest,ts_pred)
    print(classification_report(ytest,ts_pred))

                  precision    recall  f1-score   support

               N       0.54      0.66      0.60        38
               Y       0.83      0.75      0.79        85

        accuracy                           0.72       123
       macro avg       0.69      0.71      0.69       123
    weighted avg       0.74      0.72      0.73       123

In \[26\]:

    #the recall value is worse from the previous model and also accuracy is also not great

In \[27\]:

    tr_acc

Out\[27\]:

    1.0

In \[28\]:

    ts_acc

Out\[28\]:

    0.7235772357723578

In \[29\]:

    #pruning using max_depth and bcoz we are looking for a model based on recall_score the scoring in cv is recall

    tg={"max_depth":range(2,20,1),"criterion":['gini','entropy']}
    from sklearn.tree import DecisionTreeClassifier
    dtc= DecisionTreeClassifier(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(dtc,tg,scoring="recall",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[29\]:

    {'criterion': 'gini', 'max_depth': 2}

In \[30\]:

    #using the cross validated values of max depth and criterion we get a recall score of 0.96

    dtc= DecisionTreeClassifier(random_state=21,criterion="gini",max_depth=2)
    model=dtc.fit(xtrain,ytrain)
    tr_pred= model.predict(xtrain)
    ts_pred= model.predict(xtest)
    tr_acc=accuracy_score(ytrain,tr_pred)
    ts_acc=accuracy_score(ytest,ts_pred)
    print(classification_report(ytest,ts_pred))

                  precision    recall  f1-score   support

               N       0.86      0.50      0.63        38
               Y       0.81      0.96      0.88        85

        accuracy                           0.82       123
       macro avg       0.84      0.73      0.76       123
    weighted avg       0.83      0.82      0.80       123

In \[31\]:

    #To Try further i am pruning based on min_samples_leaf as well

    tg={"min_samples_leaf":range(2,20,1),"criterion":['gini','entropy']}
    from sklearn.tree import DecisionTreeClassifier
    dtc= DecisionTreeClassifier(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(dtc,tg,scoring="recall",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[31\]:

    {'criterion': 'gini', 'min_samples_leaf': 2}

In \[32\]:

    dtc= DecisionTreeClassifier(criterion="gini",min_samples_leaf=2)
    model=dtc.fit(xtrain,ytrain)
    tr_pred= model.predict(xtrain)
    ts_pred= model.predict(xtest)
    tr_acc=accuracy_score(ytrain,tr_pred)
    ts_acc=accuracy_score(ytest,ts_pred)
    print(classification_report(ytest,ts_pred))

    #the score here reduced

                  precision    recall  f1-score   support

               N       0.51      0.61      0.55        38
               Y       0.81      0.74      0.77        85

        accuracy                           0.70       123
       macro avg       0.66      0.67      0.66       123
    weighted avg       0.72      0.70      0.71       123

In \[33\]:

    #using min_samples_split

    tg={"min_samples_split":range(2,20,1),"criterion":['gini','entropy']}
    from sklearn.tree import DecisionTreeClassifier
    dtc= DecisionTreeClassifier(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(dtc,tg,scoring="recall",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[33\]:

    {'criterion': 'gini', 'min_samples_split': 2}

In \[34\]:

    dtc= DecisionTreeClassifier(random_state=21,criterion="gini",min_samples_split=2)
    model=dtc.fit(xtrain,ytrain)
    tr_pred= model.predict(xtrain)
    ts_pred= model.predict(xtest)
    tr_acc=accuracy_score(ytrain,tr_pred)
    ts_acc=accuracy_score(ytest,ts_pred)
    print(classification_report(ytest,ts_pred))

                  precision    recall  f1-score   support

               N       0.50      0.61      0.55        38
               Y       0.81      0.73      0.77        85

        accuracy                           0.69       123
       macro avg       0.65      0.67      0.66       123
    weighted avg       0.71      0.69      0.70       123

In \[35\]:

    #Next Model : Random Forest Classification 

    from sklearn.ensemble import RandomForestClassifier
    rfc=RandomForestClassifier(random_state=21,n_estimators=20)  #trying out n_estimators as 20
    model=rfc.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_acc=accuracy_score(ytrain,tr_pred)
    ts_acc=accuracy_score(ytest,ts_pred)
    print(classification_report(ytest,ts_pred))

    #the recall value is 0.88 which is better than last 2 pruning ones but lower than others

                  precision    recall  f1-score   support

               N       0.68      0.55      0.61        38
               Y       0.82      0.88      0.85        85

        accuracy                           0.78       123
       macro avg       0.75      0.72      0.73       123
    weighted avg       0.77      0.78      0.77       123

In \[36\]:

    #using both n_estimators and max_depth in tuning grid 

    tg={"n_estimators":range(2,30,1),"max_depth":range(2,20)}
    rfc=RandomForestClassifier(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(rfc,tg,scoring="recall",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[36\]:

    {'max_depth': 2, 'n_estimators': 2}

In \[37\]:

    #using max depth as 2 and n_estimators as 2 as given by cross validation

    from sklearn.ensemble import RandomForestClassifier
    rfc=RandomForestClassifier(random_state=21,n_estimators=2,max_depth=2)
    model=rfc.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_acc=accuracy_score(ytrain,tr_pred)
    ts_acc=accuracy_score(ytest,ts_pred)
    print(classification_report(ytest,ts_pred))

    #0.96 is the recall score while the accuracy is 0.82 this seems as the best model

                  precision    recall  f1-score   support

               N       0.86      0.50      0.63        38
               Y       0.81      0.96      0.88        85

        accuracy                           0.82       123
       macro avg       0.84      0.73      0.76       123
    weighted avg       0.83      0.82      0.80       123

In \[38\]:

    confusion_matrix(ytest,ts_pred)

    #the TP has increased here its 82 compared to KNN's 78 and the FN here is 3 which in turn gives a better recall score of 0.96

Out\[38\]:

    array([[19, 19],
           [ 3, 82]], dtype=int64)

In \[39\]:

    #bcoz the last model was the best model we can directly use it so now we can use the actual testing set

    test_df=test_set.drop('Loan_ID',axis=1)

In \[40\]:

    #standardising the testing data set

    test_X = preprocessing(test_df)

In \[41\]:

    test_X.shape  #checking if the shape of both data sets is same or not

Out\[41\]:

    (367, 20)

In \[42\]:

    train_X=X

In \[43\]:

    train_X.shape

Out\[43\]:

    (614, 20)

In \[44\]:

    S=model.predict(test_X)  #final predictions using best model which is randomforest with n_estimators and max depth as 2

In \[45\]:

    Solution=pd.DataFrame(test_set['Loan_ID'])  #making a dataframe to store results

In \[46\]:

    Solution['Loan_Status']=S 

In \[47\]:

    Solution  #submission dataframe

Out\[47\]:

|     | Loan_ID  | Loan_Status |
|-----|----------|-------------|
| 0   | LP001015 | Y           |
| 1   | LP001022 | Y           |
| 2   | LP001031 | Y           |
| 3   | LP001035 | Y           |
| 4   | LP001051 | Y           |
| ... | ...      | ...         |
| 362 | LP002971 | Y           |
| 363 | LP002975 | Y           |
| 364 | LP002980 | Y           |
| 365 | LP002986 | Y           |
| 366 | LP002989 | Y           |

367 rows × 2 columns

In \[48\]:

    #converting dataframe to csv file for submission

    Solution.to_csv("C:/Users/admin/Desktop/Varun_ProjectSubmission_LoanStatus.csv")

In \[49\]:

    Predictied_Set=pd.DataFrame(test_set)

In \[50\]:

    Predictied_Set['Loan_Status']=S

In \[51\]:

    Predictied_Set

Out\[51\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | LP001015 | Male   | Yes     | 0          | Graduate     | No            | 5720            | 0                 | 110.0      | 360.0            | 1.000000       | Urban         | Y           |
| 1   | LP001022 | Male   | Yes     | 1          | Graduate     | No            | 3076            | 1500              | 126.0      | 360.0            | 1.000000       | Urban         | Y           |
| 2   | LP001031 | Male   | Yes     | 2          | Graduate     | No            | 5000            | 1800              | 208.0      | 360.0            | 1.000000       | Urban         | Y           |
| 3   | LP001035 | Male   | Yes     | 2          | Graduate     | No            | 2340            | 2546              | 100.0      | 360.0            | 0.825444       | Urban         | Y           |
| 4   | LP001051 | Male   | No      | 0          | Not Graduate | No            | 3276            | 0                 | 78.0       | 360.0            | 1.000000       | Urban         | Y           |
| ... | ...      | ...    | ...     | ...        | ...          | ...           | ...             | ...               | ...        | ...              | ...            | ...           | ...         |
| 362 | LP002971 | Male   | Yes     | 3+         | Not Graduate | Yes           | 4009            | 1777              | 113.0      | 360.0            | 1.000000       | Urban         | Y           |
| 363 | LP002975 | Male   | Yes     | 0          | Graduate     | No            | 4158            | 709               | 115.0      | 360.0            | 1.000000       | Urban         | Y           |
| 364 | LP002980 | Male   | No      | 0          | Graduate     | No            | 3250            | 1993              | 126.0      | 360.0            | 0.825444       | Semiurban     | Y           |
| 365 | LP002986 | Male   | Yes     | 0          | Graduate     | No            | 5000            | 2393              | 158.0      | 360.0            | 1.000000       | Rural         | Y           |
| 366 | LP002989 | Male   | No      | 0          | Graduate     | Yes           | 9200            | 0                 | 98.0       | 180.0            | 1.000000       | Rural         | Y           |

367 rows × 13 columns

In \[52\]:

    train_set.head()

Out\[52\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | LP001002 | Male   | No      | 0          | Graduate     | No            | 5849.00000      | 0.0               | 146.412162 | 360.0            | 1.0            | Urban         | Y           |
| 1   | LP001003 | Male   | Yes     | 1          | Graduate     | No            | 5405.54085      | 1508.0            | 128.000000 | 360.0            | 1.0            | Rural         | N           |
| 2   | LP001005 | Male   | Yes     | 0          | Graduate     | Yes           | 3000.00000      | 0.0               | 66.000000  | 360.0            | 1.0            | Urban         | Y           |
| 3   | LP001006 | Male   | Yes     | 0          | Not Graduate | No            | 2583.00000      | 2358.0            | 120.000000 | 360.0            | 1.0            | Urban         | Y           |
| 4   | LP001008 | Male   | No      | 0          | Graduate     | No            | 6000.00000      | 0.0               | 141.000000 | 360.0            | 1.0            | Urban         | Y           |

In \[53\]:

    df.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 614 entries, 0 to 613
    Data columns (total 11 columns):
     #   Column             Non-Null Count  Dtype  
    ---  ------             --------------  -----  
     0   Gender             614 non-null    object 
     1   Married            614 non-null    object 
     2   Dependents         614 non-null    object 
     3   Education          614 non-null    object 
     4   Self_Employed      614 non-null    object 
     5   ApplicantIncome    614 non-null    float64
     6   CoapplicantIncome  614 non-null    float64
     7   LoanAmount         614 non-null    float64
     8   Loan_Amount_Term   614 non-null    float64
     9   Credit_History     614 non-null    float64
     10  Property_Area      614 non-null    object 
    dtypes: float64(5), object(6)
    memory usage: 52.9+ KB

In \[54\]:

    import matplotlib.pyplot as plt
    import seaborn as sns

In \[55\]:

    train_set

Out\[55\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | LP001002 | Male   | No      | 0          | Graduate     | No            | 5849.00000      | 0.0               | 146.412162 | 360.0            | 1.0            | Urban         | Y           |
| 1   | LP001003 | Male   | Yes     | 1          | Graduate     | No            | 5405.54085      | 1508.0            | 128.000000 | 360.0            | 1.0            | Rural         | N           |
| 2   | LP001005 | Male   | Yes     | 0          | Graduate     | Yes           | 3000.00000      | 0.0               | 66.000000  | 360.0            | 1.0            | Urban         | Y           |
| 3   | LP001006 | Male   | Yes     | 0          | Not Graduate | No            | 2583.00000      | 2358.0            | 120.000000 | 360.0            | 1.0            | Urban         | Y           |
| 4   | LP001008 | Male   | No      | 0          | Graduate     | No            | 6000.00000      | 0.0               | 141.000000 | 360.0            | 1.0            | Urban         | Y           |
| ... | ...      | ...    | ...     | ...        | ...          | ...           | ...             | ...               | ...        | ...              | ...            | ...           | ...         |
| 609 | LP002978 | Female | No      | 0          | Graduate     | No            | 2900.00000      | 0.0               | 71.000000  | 360.0            | 1.0            | Rural         | Y           |
| 610 | LP002979 | Male   | Yes     | 3+         | Graduate     | No            | 4106.00000      | 0.0               | 40.000000  | 180.0            | 1.0            | Rural         | Y           |
| 611 | LP002983 | Male   | Yes     | 1          | Graduate     | No            | 8072.00000      | 240.0             | 253.000000 | 360.0            | 1.0            | Urban         | Y           |
| 612 | LP002984 | Male   | Yes     | 2          | Graduate     | No            | 7583.00000      | 0.0               | 187.000000 | 360.0            | 1.0            | Urban         | Y           |
| 613 | LP002990 | Female | No      | 0          | Graduate     | Yes           | 4583.00000      | 0.0               | 133.000000 | 360.0            | 0.0            | Semiurban     | N           |

614 rows × 13 columns

In \[56\]:

    TR=train_set.drop('Loan_ID',axis=1)

In \[57\]:

    TR.head()

Out\[57\]:

|     | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | Male   | No      | 0          | Graduate     | No            | 5849.00000      | 0.0               | 146.412162 | 360.0            | 1.0            | Urban         | Y           |
| 1   | Male   | Yes     | 1          | Graduate     | No            | 5405.54085      | 1508.0            | 128.000000 | 360.0            | 1.0            | Rural         | N           |
| 2   | Male   | Yes     | 0          | Graduate     | Yes           | 3000.00000      | 0.0               | 66.000000  | 360.0            | 1.0            | Urban         | Y           |
| 3   | Male   | Yes     | 0          | Not Graduate | No            | 2583.00000      | 2358.0            | 120.000000 | 360.0            | 1.0            | Urban         | Y           |
| 4   | Male   | No      | 0          | Graduate     | No            | 6000.00000      | 0.0               | 141.000000 | 360.0            | 1.0            | Urban         | Y           |

In \[58\]:

    X=TR.drop('LoanAmount',axis=1)

In \[59\]:

    Y=TR[['LoanAmount']]

In \[60\]:

    from MLTools import ANOVA
    for i in X.columns:
        if(X[i].dtypes=='object'):
            print("ANOVA")
            print("Relation bw LoanAmount and ",i)
            print(ANOVA(TR,i,'LoanAmount'))

    ANOVA
    Relation bw LoanAmount and  Gender
    0.00743
    ANOVA
    Relation bw LoanAmount and  Married
    0.00025
    ANOVA
    Relation bw LoanAmount and  Dependents
    0.0001
    ANOVA
    Relation bw LoanAmount and  Education
    3e-05
    ANOVA
    Relation bw LoanAmount and  Self_Employed
    0.00424
    ANOVA
    Relation bw LoanAmount and  Property_Area
    0.52551
    ANOVA
    Relation bw LoanAmount and  Loan_Status
    0.36769

In \[61\]:

    TR.corr()['LoanAmount']

Out\[61\]:

    ApplicantIncome      0.565552
    CoapplicantIncome    0.187884
    LoanAmount           1.000000
    Loan_Amount_Term     0.038801
    Credit_History      -0.007738
    Name: LoanAmount, dtype: float64

In \[62\]:

    X=TR[['Gender','Married','Dependents','Education','Self_Employed']]

In \[63\]:

    X=pd.get_dummies(X)

In \[64\]:

    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In \[65\]:

    from sklearn.linear_model import LinearRegression
    lm = LinearRegression()
    model=lm.fit(xtrain,ytrain)
    pred_tr=model.predict(xtrain)
    pred_ts=model.predict(xtest)
        
    from sklearn.metrics import mean_squared_error,mean_absolute_error
    tr_err = mean_absolute_error(ytrain, pred_tr)
    ts_err = mean_absolute_error(ytest, pred_ts)

In \[66\]:

    tr_err

Out\[66\]:

    48.48853690757967

In \[67\]:

    ts_err

Out\[67\]:

    61.30487804878049

In \[68\]:

    from statsmodels.api import OLS,add_constant
    xconst = add_constant(xtrain)
    ols = OLS(ytrain,xconst)
    model = ols.fit()
    print("Adj Rsquared:",round(model.rsquared_adj,4))

    Adj Rsquared: 0.0995

In \[69\]:

    X=TR.drop('LoanAmount',axis=1)

In \[70\]:

    X=preprocessing(X)

In \[71\]:

    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In \[72\]:

    from statsmodels.api import OLS,add_constant
    xconst = add_constant(xtrain)
    ols = OLS(ytrain,xconst)
    model = ols.fit()
    print("Adj Rsquared:",round(model.rsquared_adj,4))

    Adj Rsquared: 0.3699

In \[73\]:

    from statsmodels.api import OLS,add_constant
    xconst = add_constant(xtrain)
    ols = OLS(ytrain,xconst)
    model = ols.fit()
    print("Adj Rsquared:",round(model.rsquared_adj,4))
    col_with_high_pval = model.pvalues.sort_values().index[-1]
    X= X.drop(labels=col_with_high_pval,axis=1)
    print("Dropped column:",col_with_high_pval)
    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=31)

    Adj Rsquared: 0.3699
    Dropped column: Credit_History

In \[74\]:

    from statsmodels.api import OLS,add_constant
    xconst = add_constant(xtrain)
    ols = OLS(ytrain,xconst)
    model = ols.fit()
    print("Adj Rsquared:",round(model.rsquared_adj,4))
    col_with_high_pval = model.pvalues.sort_values().index[-1]
    X= X.drop(labels=col_with_high_pval,axis=1)
    print("Dropped column:",col_with_high_pval)
    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=31)

    Adj Rsquared: 0.3583
    Dropped column: Dependents_0

In \[75\]:

    X=TR.drop('LoanAmount',axis=1)

In \[76\]:

    X=preprocessing(X)

In \[77\]:

    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In \[78\]:

    from sklearn.tree import DecisionTreeRegressor
    dtr=DecisionTreeRegressor(random_state=21,criterion='mse')
    model=dtr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_squared_error(ytrain,tr_pred)
    ts_err=mean_squared_error(ytest,ts_pred)

In \[79\]:

    tr_err

Out\[79\]:

    0.7983706720977597

In \[80\]:

    ts_err

Out\[80\]:

    8174.085286794705

In \[81\]:

    alphas=dtr.cost_complexity_pruning_path(xtrain,ytrain)['ccp_alphas']

In \[82\]:

    tr=[]
    ts=[]
    for i in alphas:
        dtr= DecisionTreeRegressor(random_state=21,ccp_alpha=i)
        model=dtr.fit(xtrain,ytrain)
        tr_pred=model.predict(xtrain)
        ts_pred=model.predict(xtest)
        from sklearn.metrics import mean_absolute_error
        tr_err=mean_absolute_error(ytrain,tr_pred)
        ts_err=mean_absolute_error(ytest,ts_pred)
        tr.append(tr_err)
        ts.append(ts_err)

In \[83\]:

    import matplotlib.pyplot as plt
    plt.plot(tr)
    plt.plot(ts)
    plt.xticks(range(0,80,4))

Out\[83\]:

    ([<matplotlib.axis.XTick at 0x2307304c580>,
      <matplotlib.axis.XTick at 0x2307304c490>,
      <matplotlib.axis.XTick at 0x2306f018430>,
      <matplotlib.axis.XTick at 0x23073059fd0>,
      <matplotlib.axis.XTick at 0x23073101610>,
      <matplotlib.axis.XTick at 0x23073101d60>,
      <matplotlib.axis.XTick at 0x2307310b4f0>,
      <matplotlib.axis.XTick at 0x2307310bc40>,
      <matplotlib.axis.XTick at 0x230731123d0>,
      <matplotlib.axis.XTick at 0x2307310be20>,
      <matplotlib.axis.XTick at 0x23073101d00>,
      <matplotlib.axis.XTick at 0x230731120a0>,
      <matplotlib.axis.XTick at 0x230731192b0>,
      <matplotlib.axis.XTick at 0x23073119a00>,
      <matplotlib.axis.XTick at 0x2307311f190>,
      <matplotlib.axis.XTick at 0x2307311f8e0>,
      <matplotlib.axis.XTick at 0x23073119a60>,
      <matplotlib.axis.XTick at 0x230731012b0>,
      <matplotlib.axis.XTick at 0x2307311f130>,
      <matplotlib.axis.XTick at 0x230731255b0>],
     [Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, ''),
      Text(0, 0, '')])

![](%0A)

In \[84\]:

    from sklearn.ensemble import RandomForestRegressor
    rfr=RandomForestRegressor(random_state=21,n_estimators=20)
    model=rfr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_absolute_error(ytrain,tr_pred)
    ts_err=mean_absolute_error(ytest,ts_pred)

In \[85\]:

    tr_err

Out\[85\]:

    15.910711959413588

In \[86\]:

    ts_err

Out\[86\]:

    43.248208269244856

In \[87\]:

    from sklearn.metrics import r2_score
    r2_score(ytest,ts_pred)

Out\[87\]:

    0.49876887602414377

In \[88\]:

    tg={"n_estimators":range(2,30,1),"max_depth":range(2,20)}
    rfr=RandomForestRegressor(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(rfr,tg,scoring="neg_mean_absolute_error",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[88\]:

    {'max_depth': 6, 'n_estimators': 24}

In \[89\]:

    from sklearn.ensemble import RandomForestRegressor
    rfr=RandomForestRegressor(random_state=21,n_estimators=24,max_depth=6)
    model=rfr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_absolute_error(ytrain,tr_pred)
    ts_err=mean_absolute_error(ytest,ts_pred)

In \[90\]:

    tr_err

Out\[90\]:

    27.684047046972317

In \[91\]:

    ts_err

Out\[91\]:

    44.183689307550225

In \[92\]:

    r2_score(ytest,ts_pred)

Out\[92\]:

    0.4875398217877347

In \[93\]:

    model.feature_importances_

Out\[93\]:

    array([0.64624313, 0.17688789, 0.02900841, 0.01380611, 0.00722986,
           0.00166443, 0.00147546, 0.00252423, 0.03106966, 0.0106508 ,
           0.00572848, 0.01242709, 0.00133152, 0.00140055, 0.00263319,
           0.00206591, 0.01681992, 0.01359375, 0.00866862, 0.00494828,
           0.00982272])

In \[94\]:

    prediction_set=Predictied_Set.drop(labels=['Loan_ID','LoanAmount'],axis=1)

In \[95\]:

    prediction_set

Out\[95\]:

|     | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------------|----------------|---------------|-------------|
| 0   | Male   | Yes     | 0          | Graduate     | No            | 5720            | 0                 | 360.0            | 1.000000       | Urban         | Y           |
| 1   | Male   | Yes     | 1          | Graduate     | No            | 3076            | 1500              | 360.0            | 1.000000       | Urban         | Y           |
| 2   | Male   | Yes     | 2          | Graduate     | No            | 5000            | 1800              | 360.0            | 1.000000       | Urban         | Y           |
| 3   | Male   | Yes     | 2          | Graduate     | No            | 2340            | 2546              | 360.0            | 0.825444       | Urban         | Y           |
| 4   | Male   | No      | 0          | Not Graduate | No            | 3276            | 0                 | 360.0            | 1.000000       | Urban         | Y           |
| ... | ...    | ...     | ...        | ...          | ...           | ...             | ...               | ...              | ...            | ...           | ...         |
| 362 | Male   | Yes     | 3+         | Not Graduate | Yes           | 4009            | 1777              | 360.0            | 1.000000       | Urban         | Y           |
| 363 | Male   | Yes     | 0          | Graduate     | No            | 4158            | 709               | 360.0            | 1.000000       | Urban         | Y           |
| 364 | Male   | No      | 0          | Graduate     | No            | 3250            | 1993              | 360.0            | 0.825444       | Semiurban     | Y           |
| 365 | Male   | Yes     | 0          | Graduate     | No            | 5000            | 2393              | 360.0            | 1.000000       | Rural         | Y           |
| 366 | Male   | No      | 0          | Graduate     | Yes           | 9200            | 0                 | 180.0            | 1.000000       | Rural         | Y           |

367 rows × 11 columns

In \[96\]:

    tst=prediction_set[prediction_set['Loan_Status']=='N']

In \[97\]:

    tst

Out\[97\]:

|     | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------------|----------------|---------------|-------------|
| 7   | Male   | Yes     | 2          | Not Graduate | No            | 3881            | 0                 | 360.0            | 0.0            | Rural         | N           |
| 13  | Male   | Yes     | 2          | Graduate     | No            | 12173           | 0                 | 360.0            | 0.0            | Semiurban     | N           |
| 18  | Male   | Yes     | 0          | Graduate     | No            | 9226            | 7916              | 360.0            | 1.0            | Urban         | N           |
| 25  | Male   | No      | 0          | Graduate     | No            | 0               | 24000             | 360.0            | 0.0            | Rural         | N           |
| 35  | Male   | No      | 0          | Graduate     | No            | 3150            | 0                 | 360.0            | 0.0            | Semiurban     | N           |
| ... | ...    | ...     | ...        | ...          | ...           | ...             | ...               | ...              | ...            | ...           | ...         |
| 317 | Male   | Yes     | 0          | Not Graduate | No            | 1700            | 2900              | 360.0            | 0.0            | Urban         | N           |
| 325 | Male   | No      | 0          | Graduate     | No            | 2875            | 2416              | 6.0              | 0.0            | Semiurban     | N           |
| 339 | Female | No      | 0          | Graduate     | No            | 4333            | 2333              | 360.0            | 0.0            | Rural         | N           |
| 346 | Male   | Yes     | 0          | Graduate     | No            | 3391            | 1966              | 360.0            | 0.0            | Rural         | N           |
| 354 | Male   | Yes     | 3+         | Not Graduate | No            | 5316            | 187               | 180.0            | 0.0            | Semiurban     | N           |

63 rows × 11 columns

In \[98\]:

    replacer(tst)

In \[99\]:

    tst.isna().sum()

Out\[99\]:

    Gender               0
    Married              0
    Dependents           0
    Education            0
    Self_Employed        0
    ApplicantIncome      0
    CoapplicantIncome    0
    Loan_Amount_Term     0
    Credit_History       0
    Property_Area        0
    Loan_Status          0
    dtype: int64

In \[100\]:

    tst.shape

Out\[100\]:

    (63, 11)

In \[101\]:

    tst=tst.reset_index()

In \[102\]:

    tst_new=preprocessing(tst)

In \[103\]:

    tst_new.shape

Out\[103\]:

    (63, 21)

In \[104\]:

    L=model.predict(tst_new)

In \[105\]:

    Loan_Amount_Values=pd.DataFrame(tst['Loan_Status'])

In \[106\]:

    Loan_Amount_Values['AdjLoanValues']=L

In \[107\]:

    Loan_Amount_Values

Out\[107\]:

|     | Loan_Status | AdjLoanValues |
|-----|-------------|---------------|
| 0   | N           | 93.396750     |
| 1   | N           | 197.119529    |
| 2   | N           | 191.168411    |
| 3   | N           | 101.548901    |
| 4   | N           | 100.509789    |
| ... | ...         | ...           |
| 58  | N           | 270.206716    |
| 59  | N           | 189.639075    |
| 60  | N           | 143.030324    |
| 61  | N           | 136.601626    |
| 62  | N           | 160.964736    |

63 rows × 2 columns

In \[108\]:

    c=Predictied_Set[Predictied_Set['Loan_Status']=='N']

In \[109\]:

    c.reset_index()

Out\[109\]:

|     | index | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|-------|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | 7     | LP001056 | Male   | Yes     | 2          | Not Graduate | No            | 3881            | 0                 | 147.0      | 360.0            | 0.0            | Rural         | N           |
| 1   | 13    | LP001094 | Male   | Yes     | 2          | Graduate     | No            | 12173           | 0                 | 166.0      | 360.0            | 0.0            | Semiurban     | N           |
| 2   | 18    | LP001108 | Male   | Yes     | 0          | Graduate     | No            | 9226            | 7916              | 300.0      | 360.0            | 1.0            | Urban         | N           |
| 3   | 25    | LP001153 | Male   | No      | 0          | Graduate     | No            | 0               | 24000             | 148.0      | 360.0            | 0.0            | Rural         | N           |
| 4   | 35    | LP001203 | Male   | No      | 0          | Graduate     | No            | 3150            | 0                 | 176.0      | 360.0            | 0.0            | Semiurban     | N           |
| ... | ...   | ...      | ...    | ...     | ...        | ...          | ...           | ...             | ...               | ...        | ...              | ...            | ...           | ...         |
| 58  | 317   | LP002774 | Male   | Yes     | 0          | Not Graduate | No            | 1700            | 2900              | 67.0       | 360.0            | 0.0            | Urban         | N           |
| 59  | 325   | LP002802 | Male   | No      | 0          | Graduate     | No            | 2875            | 2416              | 95.0       | 6.0              | 0.0            | Semiurban     | N           |
| 60  | 339   | LP002858 | Female | No      | 0          | Graduate     | No            | 4333            | 2333              | 162.0      | 360.0            | 0.0            | Rural         | N           |
| 61  | 346   | LP002879 | Male   | Yes     | 0          | Graduate     | No            | 3391            | 1966              | 133.0      | 360.0            | 0.0            | Rural         | N           |
| 62  | 354   | LP002921 | Male   | Yes     | 3+         | Not Graduate | No            | 5316            | 187               | 158.0      | 180.0            | 0.0            | Semiurban     | N           |

63 rows × 14 columns

In \[110\]:

    Loan_Amount_Values['Org_Loan_Amount']=c['LoanAmount']

In \[111\]:

    Loan_Amount_Values.drop('Org_Loan_Amount',axis=1)

Out\[111\]:

|     | Loan_Status | AdjLoanValues |
|-----|-------------|---------------|
| 0   | N           | 93.396750     |
| 1   | N           | 197.119529    |
| 2   | N           | 191.168411    |
| 3   | N           | 101.548901    |
| 4   | N           | 100.509789    |
| ... | ...         | ...           |
| 58  | N           | 270.206716    |
| 59  | N           | 189.639075    |
| 60  | N           | 143.030324    |
| 61  | N           | 136.601626    |
| 62  | N           | 160.964736    |

63 rows × 2 columns

In \[112\]:

    c=c[['LoanAmount']]

In \[113\]:

    c.reset_index()

Out\[113\]:

|     | index | LoanAmount |
|-----|-------|------------|
| 0   | 7     | 147.0      |
| 1   | 13    | 166.0      |
| 2   | 18    | 300.0      |
| 3   | 25    | 148.0      |
| 4   | 35    | 176.0      |
| ... | ...   | ...        |
| 58  | 317   | 67.0       |
| 59  | 325   | 95.0       |
| 60  | 339   | 162.0      |
| 61  | 346   | 133.0      |
| 62  | 354   | 158.0      |

63 rows × 2 columns

In \[114\]:

    c=Predictied_Set[Predictied_Set['Loan_Status']=='N']

In \[115\]:

    c.reset_index().drop(['index'],axis=1)

Out\[115\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | LP001056 | Male   | Yes     | 2          | Not Graduate | No            | 3881            | 0                 | 147.0      | 360.0            | 0.0            | Rural         | N           |
| 1   | LP001094 | Male   | Yes     | 2          | Graduate     | No            | 12173           | 0                 | 166.0      | 360.0            | 0.0            | Semiurban     | N           |
| 2   | LP001108 | Male   | Yes     | 0          | Graduate     | No            | 9226            | 7916              | 300.0      | 360.0            | 1.0            | Urban         | N           |
| 3   | LP001153 | Male   | No      | 0          | Graduate     | No            | 0               | 24000             | 148.0      | 360.0            | 0.0            | Rural         | N           |
| 4   | LP001203 | Male   | No      | 0          | Graduate     | No            | 3150            | 0                 | 176.0      | 360.0            | 0.0            | Semiurban     | N           |
| ... | ...      | ...    | ...     | ...        | ...          | ...           | ...             | ...               | ...        | ...              | ...            | ...           | ...         |
| 58  | LP002774 | Male   | Yes     | 0          | Not Graduate | No            | 1700            | 2900              | 67.0       | 360.0            | 0.0            | Urban         | N           |
| 59  | LP002802 | Male   | No      | 0          | Graduate     | No            | 2875            | 2416              | 95.0       | 6.0              | 0.0            | Semiurban     | N           |
| 60  | LP002858 | Female | No      | 0          | Graduate     | No            | 4333            | 2333              | 162.0      | 360.0            | 0.0            | Rural         | N           |
| 61  | LP002879 | Male   | Yes     | 0          | Graduate     | No            | 3391            | 1966              | 133.0      | 360.0            | 0.0            | Rural         | N           |
| 62  | LP002921 | Male   | Yes     | 3+         | Not Graduate | No            | 5316            | 187               | 158.0      | 180.0            | 0.0            | Semiurban     | N           |

63 rows × 13 columns

In \[116\]:

    Loan_Amount_Values['Org_Loan_Amount']=c['LoanAmount']

In \[117\]:

    Loan_Amount_Values.drop('Org_Loan_Amount',axis=1)

Out\[117\]:

|     | Loan_Status | AdjLoanValues |
|-----|-------------|---------------|
| 0   | N           | 93.396750     |
| 1   | N           | 197.119529    |
| 2   | N           | 191.168411    |
| 3   | N           | 101.548901    |
| 4   | N           | 100.509789    |
| ... | ...         | ...           |
| 58  | N           | 270.206716    |
| 59  | N           | 189.639075    |
| 60  | N           | 143.030324    |
| 61  | N           | 136.601626    |
| 62  | N           | 160.964736    |

63 rows × 2 columns

In \[118\]:

    c=c.reset_index().drop(['index'],axis=1)

In \[119\]:

    o=c['LoanAmount']

In \[120\]:

    o

Out\[120\]:

    0     147.0
    1     166.0
    2     300.0
    3     148.0
    4     176.0
          ...  
    58     67.0
    59     95.0
    60    162.0
    61    133.0
    62    158.0
    Name: LoanAmount, Length: 63, dtype: float64

In \[121\]:

    Loan_Amount_Values['Org_Loan_Amount']=o

In \[122\]:

    Loan_Amount_Values

Out\[122\]:

|     | Loan_Status | AdjLoanValues | Org_Loan_Amount |
|-----|-------------|---------------|-----------------|
| 0   | N           | 93.396750     | 147.0           |
| 1   | N           | 197.119529    | 166.0           |
| 2   | N           | 191.168411    | 300.0           |
| 3   | N           | 101.548901    | 148.0           |
| 4   | N           | 100.509789    | 176.0           |
| ... | ...         | ...           | ...             |
| 58  | N           | 270.206716    | 67.0            |
| 59  | N           | 189.639075    | 95.0            |
| 60  | N           | 143.030324    | 162.0           |
| 61  | N           | 136.601626    | 133.0           |
| 62  | N           | 160.964736    | 158.0           |

63 rows × 3 columns

In \[123\]:

    Predictied_Set

Out\[123\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 0   | LP001015 | Male   | Yes     | 0          | Graduate     | No            | 5720            | 0                 | 110.0      | 360.0            | 1.000000       | Urban         | Y           |
| 1   | LP001022 | Male   | Yes     | 1          | Graduate     | No            | 3076            | 1500              | 126.0      | 360.0            | 1.000000       | Urban         | Y           |
| 2   | LP001031 | Male   | Yes     | 2          | Graduate     | No            | 5000            | 1800              | 208.0      | 360.0            | 1.000000       | Urban         | Y           |
| 3   | LP001035 | Male   | Yes     | 2          | Graduate     | No            | 2340            | 2546              | 100.0      | 360.0            | 0.825444       | Urban         | Y           |
| 4   | LP001051 | Male   | No      | 0          | Not Graduate | No            | 3276            | 0                 | 78.0       | 360.0            | 1.000000       | Urban         | Y           |
| ... | ...      | ...    | ...     | ...        | ...          | ...           | ...             | ...               | ...        | ...              | ...            | ...           | ...         |
| 362 | LP002971 | Male   | Yes     | 3+         | Not Graduate | Yes           | 4009            | 1777              | 113.0      | 360.0            | 1.000000       | Urban         | Y           |
| 363 | LP002975 | Male   | Yes     | 0          | Graduate     | No            | 4158            | 709               | 115.0      | 360.0            | 1.000000       | Urban         | Y           |
| 364 | LP002980 | Male   | No      | 0          | Graduate     | No            | 3250            | 1993              | 126.0      | 360.0            | 0.825444       | Semiurban     | Y           |
| 365 | LP002986 | Male   | Yes     | 0          | Graduate     | No            | 5000            | 2393              | 158.0      | 360.0            | 1.000000       | Rural         | Y           |
| 366 | LP002989 | Male   | No      | 0          | Graduate     | Yes           | 9200            | 0                 | 98.0       | 180.0            | 1.000000       | Rural         | Y           |

367 rows × 13 columns

In \[124\]:

    LT=Predictied_Set[Predictied_Set['Loan_Amount_Term']<=240]

In \[125\]:

    LT=LT[LT['Loan_Status']=='N']

In \[126\]:

    LT

Out\[126\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 84  | LP001450 | Male   | Yes     | 0          | Graduate     | No            | 4456            | 0                 | 131.0      | 180.0            | 0.0            | Semiurban     | N           |
| 85  | LP001452 | Male   | Yes     | 2          | Graduate     | No            | 4635            | 8000              | 102.0      | 180.0            | 1.0            | Rural         | N           |
| 173 | LP001979 | Male   | No      | 0          | Graduate     | No            | 3017            | 2845              | 159.0      | 180.0            | 0.0            | Urban         | N           |
| 245 | LP002355 | Male   | Yes     | 0          | Graduate     | No            | 3186            | 3145              | 150.0      | 180.0            | 0.0            | Semiurban     | N           |
| 325 | LP002802 | Male   | No      | 0          | Graduate     | No            | 2875            | 2416              | 95.0       | 6.0              | 0.0            | Semiurban     | N           |
| 354 | LP002921 | Male   | Yes     | 3+         | Not Graduate | No            | 5316            | 187               | 158.0      | 180.0            | 0.0            | Semiurban     | N           |

In \[127\]:

    new_training_set= train_set.drop('Loan_ID',axis=1)

In \[128\]:

    new_training_set.isna().sum()

Out\[128\]:

    Gender               0
    Married              0
    Dependents           0
    Education            0
    Self_Employed        0
    ApplicantIncome      0
    CoapplicantIncome    0
    LoanAmount           0
    Loan_Amount_Term     0
    Credit_History       0
    Property_Area        0
    Loan_Status          0
    dtype: int64

In \[129\]:

    Y=new_training_set[['Loan_Amount_Term']]
    X=new_training_set.drop('Loan_Amount_Term',axis=1)

In \[130\]:

    from MLTools import ANOVA
    for i in X.columns:
        if(X[i].dtypes=='object'):
            print("ANOVA")
            print("Relation bw LoanAmountTerm and ",i)
            print(ANOVA(new_training_set,i,'Loan_Amount_Term'))

    ANOVA
    Relation bw LoanAmountTerm and  Gender
    0.0685
    ANOVA
    Relation bw LoanAmountTerm and  Married
    0.0124
    ANOVA
    Relation bw LoanAmountTerm and  Dependents
    0.01395
    ANOVA
    Relation bw LoanAmountTerm and  Education
    0.05576
    ANOVA
    Relation bw LoanAmountTerm and  Self_Employed
    0.40113
    ANOVA
    Relation bw LoanAmountTerm and  Property_Area
    0.055
    ANOVA
    Relation bw LoanAmountTerm and  Loan_Status
    0.60396

In \[131\]:

    new_training_set.corr()['Loan_Amount_Term']

Out\[131\]:

    ApplicantIncome     -0.045147
    CoapplicantIncome   -0.059710
    LoanAmount           0.038801
    Loan_Amount_Term     1.000000
    Credit_History       0.001395
    Name: Loan_Amount_Term, dtype: float64

In \[132\]:

    X=X[['Gender','Married','Dependents','Education','Self_Employed','Property_Area']]

In \[133\]:

    X=pd.get_dummies(X)

In \[134\]:

    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In \[135\]:

    from sklearn.ensemble import RandomForestRegressor
    rfr=RandomForestRegressor(random_state=21,n_estimators=20)
    model=rfr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_absolute_error(ytrain,tr_pred)
    ts_err=mean_absolute_error(ytest,ts_pred)

In \[136\]:

    tr_err

Out\[136\]:

    31.296159119391127

In \[137\]:

    ts_err

Out\[137\]:

    41.528194442036856

In \[138\]:

    X=new_training_set.drop('Loan_Amount_Term',axis=1)

In \[139\]:

    X=preprocessing(X)

In \[140\]:

    from sklearn.model_selection import train_test_split
    xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

In \[141\]:

    from sklearn.ensemble import RandomForestRegressor
    rfr=RandomForestRegressor(random_state=21,n_estimators=20)
    model=rfr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_absolute_error(ytrain,tr_pred)
    ts_err=mean_absolute_error(ytest,ts_pred)

In \[142\]:

    ts_err

Out\[142\]:

    42.692682926829264

In \[143\]:

    tr_err

Out\[143\]:

    16.238492871690426

In \[144\]:

    tg={"n_estimators":range(2,30,1),"max_depth":range(2,20)}
    rfr=RandomForestRegressor(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(rfr,tg,scoring="neg_mean_absolute_error",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[144\]:

    {'max_depth': 4, 'n_estimators': 6}

In \[145\]:

    from sklearn.ensemble import RandomForestRegressor
    rfr=RandomForestRegressor(random_state=21,n_estimators=6,max_depth=4)
    model=rfr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_absolute_error(ytrain,tr_pred)
    ts_err=mean_absolute_error(ytest,ts_pred)

In \[146\]:

    tr_err

Out\[146\]:

    32.3172438611768

In \[147\]:

    ts_err

Out\[147\]:

    34.63031730799032

In \[148\]:

    tg={"n_estimators":range(2,30,1)}
    rfr=RandomForestRegressor(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(rfr,tg,scoring="neg_mean_absolute_error",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[148\]:

    {'n_estimators': 29}

In \[149\]:

    from sklearn.ensemble import RandomForestRegressor
    rfr=RandomForestRegressor(random_state=21,n_estimators=40)
    model=rfr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_absolute_error(ytrain,tr_pred)
    ts_err=mean_absolute_error(ytest,ts_pred)

In \[150\]:

    ts_err

Out\[150\]:

    39.95487804878049

In \[151\]:

    tr_err

Out\[151\]:

    15.665682281059064

In \[152\]:

    tg={"max_depth":range(2,30,1)}
    rfr=RandomForestRegressor(random_state=21)
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(rfr,tg,scoring="neg_mean_absolute_error",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[152\]:

    {'max_depth': 4}

In \[153\]:

    from sklearn.ensemble import RandomForestRegressor
    rfr=RandomForestRegressor(random_state=21,max_depth=4)
    model=rfr.fit(xtrain,ytrain)
    tr_pred=model.predict(xtrain)
    ts_pred=model.predict(xtest)
    tr_err=mean_absolute_error(ytrain,tr_pred)
    ts_err=mean_absolute_error(ytest,ts_pred)

In \[154\]:

    tr_err

Out\[154\]:

    31.271414374182854

In \[155\]:

    ts_err

Out\[155\]:

    36.969019942128796

In \[156\]:

    from sklearn.neighbors import KNeighborsRegressor
    knr=KNeighborsRegressor(n_neighbors=5)
    model=knr.fit(xtrain,ytrain)
    ts_pred= model.predict(xtest)                                        
    tr_pred= model.predict(xtrain)
    ts_acc=mean_absolute_error(ytest,ts_pred)                                  
    tr_acc=mean_absolute_error(ytrain,tr_pred)                               

In \[157\]:

    tr_acc

Out\[157\]:

    31.78900203665988

In \[158\]:

    ts_acc

Out\[158\]:

    33.268292682926834

In \[159\]:

    k=range(2,10)
    tuning_grid={"n_neighbors":k}
    from sklearn.model_selection import GridSearchCV
    cv=GridSearchCV(knr,tuning_grid,scoring="neg_mean_absolute_error",cv=4)
    cvmodel=cv.fit(X,Y)
    cvmodel.best_params_

Out\[159\]:

    {'n_neighbors': 9}

In \[160\]:

    from sklearn.neighbors import KNeighborsRegressor
    knr=KNeighborsRegressor(n_neighbors=9)
    model=knr.fit(xtrain,ytrain)
    ts_pred= model.predict(xtest)                                        
    tr_pred= model.predict(xtrain)
    ts_acc=mean_absolute_error(ytest,ts_pred)                                  
    tr_acc=mean_absolute_error(ytrain,tr_pred)                               

In \[161\]:

    tr_acc

Out\[161\]:

    33.71215207060421

In \[162\]:

    ts_acc

Out\[162\]:

    33.143631436314365

In \[163\]:

    LT

Out\[163\]:

|     | Loan_ID  | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Loan_Amount_Term | Credit_History | Property_Area | Loan_Status |
|-----|----------|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|------------------|----------------|---------------|-------------|
| 84  | LP001450 | Male   | Yes     | 0          | Graduate     | No            | 4456            | 0                 | 131.0      | 180.0            | 0.0            | Semiurban     | N           |
| 85  | LP001452 | Male   | Yes     | 2          | Graduate     | No            | 4635            | 8000              | 102.0      | 180.0            | 1.0            | Rural         | N           |
| 173 | LP001979 | Male   | No      | 0          | Graduate     | No            | 3017            | 2845              | 159.0      | 180.0            | 0.0            | Urban         | N           |
| 245 | LP002355 | Male   | Yes     | 0          | Graduate     | No            | 3186            | 3145              | 150.0      | 180.0            | 0.0            | Semiurban     | N           |
| 325 | LP002802 | Male   | No      | 0          | Graduate     | No            | 2875            | 2416              | 95.0       | 6.0              | 0.0            | Semiurban     | N           |
| 354 | LP002921 | Male   | Yes     | 3+         | Not Graduate | No            | 5316            | 187               | 158.0      | 180.0            | 0.0            | Semiurban     | N           |

In \[180\]:

    testing_dataframe=LT.drop(labels=['Loan_ID','Loan_Amount_Term'],axis=1)

In \[192\]:

    testing_dataframe.isna().sum()

Out\[192\]:

    Gender               0
    Married              0
    Dependents           0
    Education            0
    Self_Employed        0
    ApplicantIncome      0
    CoapplicantIncome    0
    LoanAmount           0
    Credit_History       0
    Property_Area        0
    Loan_Status          0
    dtype: int64

In \[194\]:

    testing_dataframe.reset_index().drop('index',axis=1)

Out\[194\]:

|     | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Credit_History | Property_Area | Loan_Status |
|-----|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|----------------|---------------|-------------|
| 0   | Male   | Yes     | 0          | Graduate     | No            | 4456            | 0                 | 131.0      | 0.0            | Semiurban     | N           |
| 1   | Male   | Yes     | 2          | Graduate     | No            | 4635            | 8000              | 102.0      | 1.0            | Rural         | N           |
| 2   | Male   | No      | 0          | Graduate     | No            | 3017            | 2845              | 159.0      | 0.0            | Urban         | N           |
| 3   | Male   | Yes     | 0          | Graduate     | No            | 3186            | 3145              | 150.0      | 0.0            | Semiurban     | N           |
| 4   | Male   | No      | 0          | Graduate     | No            | 2875            | 2416              | 95.0       | 0.0            | Semiurban     | N           |
| 5   | Male   | Yes     | 3+         | Not Graduate | No            | 5316            | 187               | 158.0      | 0.0            | Semiurban     | N           |

In \[196\]:

    testing_dataframe1=testing_dataframe.reset_index().drop('index',axis=1)

In \[197\]:

    testing_dataframe1

Out\[197\]:

|     | Gender | Married | Dependents | Education    | Self_Employed | ApplicantIncome | CoapplicantIncome | LoanAmount | Credit_History | Property_Area | Loan_Status |
|-----|--------|---------|------------|--------------|---------------|-----------------|-------------------|------------|----------------|---------------|-------------|
| 0   | Male   | Yes     | 0          | Graduate     | No            | 4456            | 0                 | 131.0      | 0.0            | Semiurban     | N           |
| 1   | Male   | Yes     | 2          | Graduate     | No            | 4635            | 8000              | 102.0      | 1.0            | Rural         | N           |
| 2   | Male   | No      | 0          | Graduate     | No            | 3017            | 2845              | 159.0      | 0.0            | Urban         | N           |
| 3   | Male   | Yes     | 0          | Graduate     | No            | 3186            | 3145              | 150.0      | 0.0            | Semiurban     | N           |
| 4   | Male   | No      | 0          | Graduate     | No            | 2875            | 2416              | 95.0       | 0.0            | Semiurban     | N           |
| 5   | Male   | Yes     | 3+         | Not Graduate | No            | 5316            | 187               | 158.0      | 0.0            | Semiurban     | N           |

In \[198\]:

    X_testing=preprocessing(testing_dataframe1)

In \[199\]:

    X_testing.isna().sum()

Out\[199\]:

    ApplicantIncome            0
    CoapplicantIncome          0
    LoanAmount                 0
    Credit_History             0
    Gender_Male                0
    Married_No                 0
    Married_Yes                0
    Dependents_0               0
    Dependents_2               0
    Dependents_3+              0
    Education_Graduate         0
    Education_Not Graduate     0
    Self_Employed_No           0
    Property_Area_Rural        0
    Property_Area_Semiurban    0
    Property_Area_Urban        0
    Loan_Status_N              0
    dtype: int64

In \[200\]:

    cols_to_add=['Gender_Female','Loan_Status_Y','Self_Employed_Yes','Dependents_1']

In \[202\]:

    X_testing[cols_to_add]=0

In \[204\]:

    pred=model.predict(X_testing)

In \[205\]:

    pred

Out\[205\]:

    array([[360.        ],
           [366.66666667],
           [346.66666667],
           [373.33333333],
           [300.        ],
           [340.        ]])

In \[207\]:

    LAT=pd.DataFrame(LT['Loan_ID'])

In \[209\]:

    Loan_Term_Values=LAT.reset_index().drop('index',axis=1)

In \[211\]:

    Loan_Term_Values['Original Term']=LT[['Loan_Amount_Term']]

In \[213\]:

    Loan_Term_Values.drop('Original Term',axis=1)

Out\[213\]:

|     | Loan_ID  |
|-----|----------|
| 0   | LP001450 |
| 1   | LP001452 |
| 2   | LP001979 |
| 3   | LP002355 |
| 4   | LP002802 |
| 5   | LP002921 |

In \[214\]:

    LT_N=LT.reset_index().drop('index',axis=1)

In \[219\]:

    Loan_Term_Values['Loan_Status']=LT_N['Loan_Status']

In \[221\]:

    Loan_Term_Values.drop('Original Term',axis=1)

Out\[221\]:

|     | Loan_ID  | Loan_Status |
|-----|----------|-------------|
| 0   | LP001450 | N           |
| 1   | LP001452 | N           |
| 2   | LP001979 | N           |
| 3   | LP002355 | N           |
| 4   | LP002802 | N           |
| 5   | LP002921 | N           |

In \[222\]:

    Loan_Term_Values['Orginial_Term']=LT_N['Loan_Amount_Term']

In \[223\]:

    Loan_Term_Values['Adj Loan_Term']=pred

In \[225\]:

    Loan_Term_Values_Adj=Loan_Term_Values.drop('Original Term',axis=1)

In \[226\]:

    Loan_Term_Values_Adj

Out\[226\]:

|     | Loan_ID  | Loan_Status | Orginial_Term | Adj Loan_Term |
|-----|----------|-------------|---------------|---------------|
| 0   | LP001450 | N           | 180.0         | 360.000000    |
| 1   | LP001452 | N           | 180.0         | 366.666667    |
| 2   | LP001979 | N           | 180.0         | 346.666667    |
| 3   | LP002355 | N           | 180.0         | 373.333333    |
| 4   | LP002802 | N           | 6.0           | 300.000000    |
| 5   | LP002921 | N           | 180.0         | 340.000000    |

In \[ \]: